<template>
    <ul>
        <li v-for="post in posts" :key="post.id">
            <a class="title" :href="post.id">{{ post.title }}</a>
        </li>
    </ul>
</template>

<script>
export default {
    data() {
        return {
            posts: [],
        };
    },
    created() {
        axios.get("/api/posts").then((res) => {
            console.log(res);
            if (res.data.status) {
                this.posts = res.data.posts;
            }
        });
    },
};
</script>
<style>
.title {
    color: black;
    font-size: 12px;
}
</style>
